{% extends 'kasir/base.html' %}
{% load i18n %}

{% block content %}

<h2>
    🛍 {% trans "Buat Pemesanan" %}
</h2>

<div class="alert alert-info">

    <h4>
        {% trans "Selamat Datang di HalalMart Pro" %}
    </h4>

    <p>
        {% trans "Pilih produk halal yang ingin Anda pesan." %}
    </p>

</div>

<form method="POST">

    {% csrf_token %}

    {{ form.as_p }}

    <button
        type="submit"
        class="btn btn-success">

        {% trans "Buat Pesanan" %}

    </button>

</form>

{% endblock %}