{% extends 'kasir/base.html' %}
{% load i18n %}

{% block content %}

<div class="container mt-5">

    <h1>📑 {% trans "Laporan Keuangan" %}</h1>

    <div class="card mt-4">
        <div class="card-body">

            <h4>
                {% trans "Jumlah Transaksi" %}:
                {{jumlah_transaksi }}
            </h4>

            <h4>
                {% trans "Total Produk Terjual" %}:
                {{ total_produk_terjual }}
            </h4>

            <h4>
                {% trans "Total Omzet" %}:
                Rp {{ total_omzet }}
            </h4>

        </div>
    </div>

    <br>

    <a href="/" class="btn btn-primary">
        {% trans "Dashboard" %}
    </a>

</div>

{% endblock %}